*{
    padding:0;
    margin:0;
}
body{
        background: radial-gradient(rgb(207, 207, 46),rgb(197, 65, 65) );  
        text-align:center;
        background-size: cover;
        display:flex;
        justify-content: center;
        margin-top: 10%;
        font-family: 'Cardo', serif;;
        
}
.profile{
width:300px;
background-color:rgba(0,0,0,0.5);
padding:20px;
border-radius:10% ;
margin-bottom: 20px;
}
img{
height:240px;
     border-radius: 70%;
     margin-bottom: 20px;
}
.profile h2{
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 10px;
}
.profile h3{
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 10px;
}
.profile p{
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 10px;
}
i{
    color:black;
}
.profilefonts{
    margin-bottom: 10px;
    margin-top: 10px;
 
}